.new-favorite {
  height: 100%;

  &__form {
    display: flex;
    flex-flow: column;
    
    .two-columns {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem;

      & > * {
        flex-basis: calc(50% - 1.2rem);
      }
    }

    .input-container {
      align-items: flex-start;
      display: flex;
      flex-flow: column;
      margin-bottom: 1.2rem;

      label {
        font-size: 1.2rem;
        display: block;
        margin-bottom: 0.4rem;
      }
    }

    .thumbnail-url-preview {
      border-radius: 6px;
      overflow: hidden;
      margin: 0 auto;
      width: 400px;

      .image {
        display: block;
        object-fit: contain;
        width: 100%;
      }
    }

    .action-buttons {
      align-items: center;
      border-top: 1px solid rgb(var(--c-border-grey));
      display: flex;
      justify-content: flex-end;
      gap: 1.2rem;
      margin-top: 1.6rem;
      padding-top: 1.6rem;
    }
  }
}