.backdrop {
  background-color: rgb(var(--c-black), 0.5);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.modal {
  background-color: rgb(var(--c-white));
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 1.6rem;
  translate: -50% -50%;
  z-index: 1001;

  &__title {
    border-bottom: 1px solid rgb(var(--c-border-grey));
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
  }
}
