.icon-btn {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 200ms ease;
  

  &--primary {
    background-color: rgba(var(--c-primary), 0.05);
    color: rgb(var(--c-primary));

    &:hover {
      background-color: rgba(var(--c-primary), 0.1);
    }
  
    &:active {
      background-color: rgba(var(--c-primary), 0.15);
    }
  }

  &--danger {
    background-color: rgba(var(--c-danger), 0.05);
    color: rgb(var(--c-danger));

    &:hover {
      background-color: rgba(var(--c-danger), 0.1);
    }
  
    &:active {
      background-color: rgba(var(--c-danger), 0.15);
    }
  }

  &.sm {
    font-size: 14px;
    height: 24px;
    width: 24px;
  }

  &.md {
    font-size: 18px;
    height: 32px;
    width: 32px;
  }

  &.lg {
    font-size: 22px;
    height: 40px;
    width: 40px;
  }
}